<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home" >Zenika Ecommerce</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/basket" >Voir mon Panier</a>
        </li>
      </ul>
    </div>
  </div>
</nav>