<div class="row text-center">
  <ng-container *ngFor="let item of basket">
    <app-product [data]="item" [showLink]=false></app-product>
  </ng-container>
</div>

<div class="row">
  <div class="col-md-12">
    <form (submit)="saveForm()" #form="ngForm">

      <div class="form-group">
        <label class="control-label" for="name">Name</label>
        <input [ngClass]="{hasError: !nameInut.valid && nameInut.dirty }" name="name" type="text" [(ngModel)]="customer.name" #nameInut="ngModel"
          required />
      </div>
      <div class="form-group">
        <label class="control-label" for="addresse">addresse</label>
        <textarea [ngClass]="{hasError: !addresseInut.valid && addresseInut.dirty }" name="addresse" [(ngModel)]="customer.addresse"
          id="" cols="30" rows="5" #addresseInut="ngModel" required></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="creditCard">creditCard</label>
        <input [ngClass]="{hasError: !creditCardInut.valid && creditCardInut.dirty }" name="creditCard" type="text" [(ngModel)]="customer.creditCard"
          #creditCardInut="ngModel" required pattern="^[0-9]{3}-[0-9]{3}$" />
      </div>
      <button type="submit" [disabled]="!form.valid">Save</button>

    </form>
  </div>
</div>
