<div class="col-md-3 col-sm-6 hero-feature">
  <div [ngClass]="{'last': isTheLastProduct(product) && showLink}" class="thumbnail">
    <img src="{{product.photo}}" alt="">
    <div class="caption">
      <h3>{{product.title}} - {{product.price}}€</h3>
      <p>{{product.description}}</p>
      
      <p *ngIf="showLink">
        <button (click)="addToBasket(product)" class="btn btn-primary">Ajoutez au panier</button>
      </p>
    </div>
  </div>
</div>
